@import "./reset.css";
@import "./common.css";
@import "./cover.css";
@import "./leds.css";
@import "./cross-button.css";
@import "./screen.css";
@import "./mini-display.css";

main {
  background: #7ac8f5;
  min-height: 100vh;
  display: grid;
  place-items: center;
  align-content: center;
}

h1 {
  font-family: "PokemonSolid", sans-serif;
  font-size: 80px;
  color: #fbd743;
  letter-spacing: 3;
  -webkit-text-stroke: 3px #363b85;
  text-shadow: 5px 5px 0 #363b85;
}

.pokedex {
  width: 360px;
}

.container {
  width: 360px;
  background: var(--red);
  border-radius: 10px;
  border: var(--main-border);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  padding: 20px;
  position: relative;
  height: 120px;
}

.header::after,
.header::before {
  content: "";
  display: block;
  position: absolute;
}

.scanner {
  width: 80px;
  height: 80px;
  padding: 5px;
  background: #fff;
  border: var(--main-border);
  border-radius: 100%;
}

.scanner .glass {
  width: 100%;
  height: 100%;
  background-color: var(--off-light);
  border-radius: 100%;
  border: var(--main-border);
  position: relative;
  transition: all 0.3s ease;
}

.on .scanner .glass {
  background: #21e4fa;
}

.body {
  position: relative;
  border-top: 2px solid #000;
  background-color: var(--dark-red);
}

.body::after,
.body::before {
  content: "";
  display: block;
  position: absolute;
  background: inherit;
  border-color: #000;
  border-style: solid;
}

.body::before {
  height: 55px;
  width: 185px;
  top: -57px;
  right: 27px;
  bottom: 0;
  border-width: 2px 0 0 2px;
  transform: skewX(-45deg);
  z-index: 11;
}

.body::after {
  width: 60px;
  height: 55px;
  right: -2px;
  top: -57px;
  border-width: 2px 2px 0 0;
  z-index: 11;
}

.inner {
  flex: 1;
  background-color: var(--red);
  margin: 12px 10px 10px;
  border-radius: 0 0 10px 10px;
  border: var(--main-border);
  position: relative;
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  align-items: center;
}

.inner::after,
.inner::before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--red);
  border-color: #000;
  border-style: solid;
}

.inner::before {
  height: 55px;
  width: 168px;
  top: -57px;
  right: 27px;
  bottom: 0;
  border-width: 2px 0 0 2px;
  transform: skewX(-45deg);
  z-index: 11;
}

.inner::after {
  width: 60px;
  height: 55px;
  right: -2px;
  top: -57px;
  border-width: 2px 2px 0 0;
  z-index: 12;
}

.footer {
  margin-top: 10px;
  position: relative;
  display: flex;
  width: 80%;
}

.footer .left,
.footer .left .buttons {
  display: flex;
}

.footer .left {
  flex-direction: column;
}

.circle-button {
  width: 40px;
  height: 40px;
  background-color: var(--button-bg);
  border-radius: 50%;
  border: var(--main-border);
  box-shadow: 3px 3px 0 #111;
}

.circle-button:active {
  box-shadow: 0 0 0 #111;
}

.line-buttons {
  display: flex;
  gap: 10px;
  margin: 15px 0 0 20px;
}

.line-button {
  width: 40px;
  height: 10px;
  border: var(--main-border);
  border-radius: 20px;
  box-shadow: 3px 2px 0 #111;
}
.line-button:active {
  box-shadow: none;
}
.line-button.red {
  background-color: #e4373e;
}
.line-button.blue {
  background-color: #85bdfe;
}
