@font-face {
  font-family: "DePixelBreit";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/depixelbreit.woff2") format("woff2"),
    url("assets/fonts/depixelbreit.ttf") format("truetype");
}

@font-face {
  font-family: "PokemonSolid";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("assets/fonts/Pokemon Solid.woff2") format("woff2"),
    url("assets/fonts/Pokemon Solid.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DePixelBreit, sans-serif;
  position: relative;
}

button {
  cursor: pointer;
}

:root {
  --red: #d30a40;
  --dark-red: #a2052f;
  --red-light: #e4373e;
  --yellow-light: #fecb65;
  --green-light: #32ca64;
  --screen-bg: #98cb98;
  --off-light: #334633;
  --button-bg: #2c2c2c;
  --main-border: 2px solid #000;
  --inner-shadow: inset 3px 3px 0 rgba(0, 0, 0, 0.3);
}

.shine::before {
  content: "";
  display: block;
  width: 30%;
  height: 30%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  position: absolute;
  top: 15%;
  left: 15%;
}

main {
  background: #7ac8f5;
  min-height: 100vh;
  display: grid;
  place-items: center;
  align-content: center;
}

h1 {
  font-family: "PokemonSolid", sans-serif;
  font-size: 80px;
  color: #fbd743;
  letter-spacing: 3;
  -webkit-text-stroke: 3px #363b85;
  text-shadow: 5px 5px 0 #363b85;
}

.wrapper {
  width: 360px;
}

.container {
  width: 360px;
  background: var(--red);
  border-radius: 10px;
  border: var(--main-border);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cover {
  width: 360px;
  position: absolute;
  transform-origin: right;
  left: 0;
  top: 120px;
  height: calc(100% - 120px);
  transition: all 1s ease;
  z-index: 20;
  cursor: pointer;
}

.cover .body {
  background: var(--red);
  height: 100%;
  margin-top: 2px;
  border: var(--main-border);
  border-radius: 0 0 10px 10px;
}

.cover.open {
  transition: all 1s ease;
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px)
    rotateY(180deg);
}

.cover .arrow {
  display: block;
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-left: 20px solid #fbd743;
  position: absolute;
  top: calc(50% - 60px);
  left: 2px;
  opacity: 1;
  transition: all 0.3s ease;
  transition-delay: 0.3s;
}

.cover.open .arrow,
.cover.open .bevel {
  opacity: 0;
  transition-delay: 0.3s;
}

.cover .bevel {
  width: 200px;
  height: 15px;
  border-radius: 30px;
  box-shadow: var(--inner-shadow);
  border: var(--main-border);
  position: absolute;
  bottom: 20px;
  left: calc(50% - 100px);
  transition-delay: 0.3s;
}

.header {
  display: flex;
  padding: 20px;
  position: relative;
  height: 120px;
}

.header::after,
.header::before {
  content: "";
  display: block;
  position: absolute;
}

.scanner {
  width: 80px;
  height: 80px;
  padding: 5px;
  background: #fff;
  border: var(--main-border);
  border-radius: 100%;
}

.scanner .glass {
  width: 100%;
  height: 100%;
  background-color: var(--off-light);
  border-radius: 100%;
  border: var(--main-border);
  position: relative;
  transition: all 0.3s ease;
}

.on .scanner .glass {
  background: #21e4fa;
}

.light-container {
  display: flex;
  flex: 1;
  gap: 2%;
  margin-left: 5%;
  margin-top: 0;
}

.light {
  width: 20px;
  height: 20px;
  background-color: var(--off-light);
  border-radius: 100%;
  border: var(--main-border);
  position: relative;
  transition: all 0.3s ease;
}

.on .light.red {
  background: var(--red-light);
}

.on .light.yellow {
  background: var(--yellow-light);
}

.on .light.green {
  background: var(--green-light);
}

.body {
  position: relative;
  border-top: 2px solid #000;
  background-color: var(--dark-red);
}

.body::after,
.body::before {
  content: "";
  display: block;
  position: absolute;
  background: inherit;
  border-color: #000;
  border-style: solid;
}

.body::before {
  height: 55px;
  width: 185px;
  top: -57px;
  right: 27px;
  bottom: 0;
  border-width: 2px 0 0 2px;
  transform: skewX(-45deg);
  z-index: 11;
}

.body::after {
  width: 60px;
  height: 55px;
  right: -2px;
  top: -57px;
  border-width: 2px 2px 0 0;
  z-index: 11;
}

.inner {
  flex: 1;
  background-color: var(--red);
  margin: 12px 10px 10px;
  border-radius: 0 0 10px 10px;
  border: var(--main-border);
  position: relative;
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  align-items: center;
}

.inner::after,
.inner::before {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--red);
  border-color: #000;
  border-style: solid;
}

.inner::before {
  height: 55px;
  width: 168px;
  top: -57px;
  right: 27px;
  bottom: 0;
  border-width: 2px 0 0 2px;
  transform: skewX(-45deg);
  z-index: 11;
}

.inner::after {
  width: 60px;
  height: 55px;
  right: -2px;
  top: -57px;
  border-width: 2px 2px 0 0;
  z-index: 12;
}

.screen-border {
  width: 80%;
  height: 250px;
  background: #fff;
  padding: 0 20px;
  position: relative;
  border-radius: 10px;
  border: var(--main-border);
  display: flex;
  flex-direction: column;
}

.screen-border::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -8px;
  left: -27px;
  width: 80px;
  height: 40px;
  background: var(--red);
  border-top: 2px solid #000;
  transform: rotateZ(45deg);
}

.leds {
  display: flex;
  gap: 5px;
  justify-content: center;
  padding: 10px;
}

.led.red {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--off-light);
  border: 1px solid #000;
}

.on .led.red {
  background: var(--red-light);
}

.screen {
  flex: 1;
  background: var(--screen-bg);
  border-radius: 10px;
  border: var(--main-border);
  overflow: hidden;
}

.screen::before,
.screen::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}

.screen::before {
  background-image: url("assets/images/pokedex-bg.webp");
  background-size: 180%;
  background-position: bottom center;
  border-radius: 100%;
  overflow: hidden;
  top: 0;
  right: 0;
  transform: scale(0);
  transition: none;
}

.on .screen::before {
  transition: all 0.3s ease;
  transform: scale(1);
  border-radius: 0;
}

.screen::after {
  top: 0;
  left: 0;
  border-radius: 5px;
  box-shadow: inset 6px 6px 1px rgba(0, 0, 0, 0.3);
}

.screen-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  margin-left: 10px;
}

.led.red.led-bottom {
  width: 20px;
  height: 20px;
  position: relative;
}

.sound-out {
  position: relative;
}

.sound-out,
.sound-out::after,
.sound-out::before {
  width: 30px;
  height: 3px;
  background: #000;
}
.sound-out::after,
.sound-out::before {
  content: "";
  display: block;
  position: absolute;
}
.sound-out::before {
  top: -6px;
}
.sound-out::after {
  bottom: -6px;
}

.footer {
  margin-top: 10px;
  position: relative;
  display: flex;
  width: 80%;
}

.footer .left,
.footer .left .buttons {
  display: flex;
}

.footer .left {
  flex-direction: column;
}

.circle-button {
  width: 40px;
  height: 40px;
  background-color: var(--button-bg);
  border-radius: 50%;
  border: var(--main-border);
  box-shadow: 3px 3px 0 #111;
}

.circle-button:active {
  box-shadow: 0 0 0 #111;
}

.line-buttons {
  display: flex;
  gap: 10px;
  margin: 15px 0 0 20px;
}

.line-button {
  width: 40px;
  height: 10px;
  border: var(--main-border);
  border-radius: 20px;
  box-shadow: 3px 2px 0 #111;
}
.line-button.red {
  background-color: #e4373e;
}
.line-button.blue {
  background-color: #85bdfe;
}

.mini-display {
  width: 100%;
  height: 35px;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.5;
  font-size: 0.8em;
  background: var(--screen-bg);
  border: var(--main-border);
  border-radius: 10px;
  margin-top: auto;
  box-shadow: var(--inner-shadow);
}

.pokemon-name {
  display: block;
  width: 0;
  text-align: center;
  transition: none;
  overflow: hidden;
}

.on .mini-display {
  background-color: #9fccff;
}
.on .pokemon-name {
  transition: all 0.5s ease;
  width: 100%;
}

.cross-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-top: 8px;
}

.middle {
  display: flex;
}

.cross {
  width: 30px;
  height: 30px;
  background: var(--button-bg);
  border-color: #000;
  border-style: solid;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cross::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: 6px solid transparent;
}

.cross.center {
  border-width: 0;
  width: 26px;
  box-shadow: 3px 3px 0 0 #111;
  position: relative;
}
.cross.center::before {
  width: 15px;
  height: 15px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0;
  border-radius: 100%;
  border: 0;
  box-shadow: inset 2px 2px 0 rgba(0, 0, 0, 0.8);
}
.cross.up {
  border-width: 2px 2px 0 2px;
  border-radius: 4px 4px 0 0;
  box-shadow: 3px 1px 0 0 #111;
}
.cross.up::before {
  border-bottom: 12px solid rgba(0, 0, 0, 0.3);
}
.cross.down {
  border-width: 0 2px 2px 2px;
  border-radius: 0 0 4px 4px;
  box-shadow: 3px 3px 0 0 #111;
}
.cross.down::before {
  border-top: 12px solid rgba(0, 0, 0, 0.3);
}
.cross.left {
  border-width: 2px 0 2px 2px;
  border-radius: 4px 0 0 4px;
  box-shadow: 1px 3px 0 0 #111;
}
.cross.left::before {
  border-right: 12px solid rgba(0, 0, 0, 0.3);
}
.cross.right {
  border-width: 2px 2px 2px 0;
  border-radius: 0 4px 4px 0;
  box-shadow: 3px 3px 0 0 #111;
}
.cross.right::before {
  border-left: 12px solid rgba(0, 0, 0, 0.3);
}
